<div class="modal fade" id="categoryAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Kategori Ekleme Formu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Kategori Adı</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-normal my-input-control" name="Name" id="Name" placeholder="Lütfen kategori adı giriniz">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Açıklama</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-normal my-input-control" name="Description" id="Description" placeholder="Lütfen açıklama giriniz">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Özel Not</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-normal my-input-control" name="Note" id="Note" placeholder="Lütfen kategoriye ait özel notunuzu giriniz">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" id="categoryAddButton">Kaydet</button>
            </div>
        </div>
    </div>
</div>