<nav class="pcoded-navbar" navbar-theme="theme1" active-item-theme="theme1" sub-item-theme="theme1" active-item-style="style0" pcoded-navbar-position="fixed">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Menü</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Blog</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class>
                <a href="/Admin/Category/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Kategoriler</span>
                </a>
            </li>
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Makaleler</span>
                </a>
            </li>
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Yorumlar</span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Cv</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Özgeçmiş</span>
                </a>
            </li>
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Projelerim</span>
                </a>
            </li>
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Yeteneklerim</span>
                </a>
            </li>
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dil Bilgisi</span>
                </a>
            </li>
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Eğitim Bilgisi</span>
                </a>
            </li>
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Sosyal Medya</span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Kullanıcı</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Roller</span>
                </a>
            </li>
            <li class>
                <a href="/Admin/Home/Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Kullanıcılar</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
